<!-- <app-example name="Jase" age="43" hairColor="brown" ></app-example>
<app-example hairColor="bald"></app-example>
<p>----------------------</p>
<app-people-list></app-people-list>
<p>----------------------</p>
<app-event-handling></app-event-handling>
<p>----------------------</p>
<app-multiple-choice
    (a)="doSomething()"
    (b)="doSomething1()"
    (c)="doSomething2()"
    (d)="doSomething3()"
></app-multiple-choice>
<p>----------------------</p> 
<app-congratulations-message *ngIf="count>10"></app-congratulations-message>
<app-counter-button [count]="count" (buttonClicked)="incrementCount()"></app-counter-button> -->

<router-outlet></router-outlet>
